name : Backlog Notify
on : pull
jobs :
  backlog :
    runs-on : ubuntu-latest
    steps :
      - name : Backlog Notify
        uses : bicstone/backlog-notify@master
        env :
          PROJECT_KEY : NOTIFY_GITHUB
          API_HOST : hoaiphan.backlog.com 
          API_KEY : ${{secrets.TEST_NOTIFY_GITHUB}}
